*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

#outerdiv{
    width: 100vw;
    height: 80vh;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#light{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 0 5px black;
    transition: all 0.9s ease-in-out;
    padding-left: 40px;
}


#dark{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    transition: all 0.9s ease-in-out;
    padding-right: 40px;
}

#icon1{
    font-size: 150px;
    color: black;
    background-color: white;
    transition: all 0.9s ease-in-out;
}

#icon2{
    font-size: 150px;
    color: black;
    background-color: white;
    transition: all 0.9s ease-in-out;
}

#left{
    color: black;
    font-size: 80px;
    transition: all 0.9s ease-in-out;
}
#right{
    color: black;
    font-size: 80px;
    background-color: white;
    transition: all 0.9s ease-in-out;
}