form{
  display: flex;
  flex-direction: column;
  width: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3 );
  padding: 20px;
  
}

input{
  margin: 5px  0px 15px 0px;
  padding: 5px 10px;
}

button{
  padding: 5px 10px;
}

#div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}